<%- include("../partials/header") %>

<section class="memo-form-container">
  <h1>Add New Memo</h1>

  <form class="memo-form" method="post" action="/memos/add">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required />

    <label for="category">Category:</label>
    <select id="category" name="category" required>
      <option value="" disabled selected>&nbsp;--Select Category--</option>
      <option value="Todos">&nbsp; Todos</option>
      <option value="Note">&nbsp; Note</option>
      <option value="Study">&nbsp; Study</option>
      <option value="Work">&nbsp; Work</option>
      <option value="Ideas">&nbsp; Ideas</option>
      <option value="Fun">&nbsp; Fun</option>
      <option value="Etc.">&nbsp; Etc.</option>
    </select>

    <label for="content">Content:</label>
    <textarea id="content" name="content" required></textarea>
    <button type="submit">Add</button>
  </form>
</section>

<%- include("../partials/footer.ejs") %>
