<%- include("partials/header", {pageTitle}) %>
    <div class="container">
      <div class="welcome-header">
        <h1>Hello, <%= user %></h1>
        <a href="/logout">Log out</a>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consequatur non possimus sapiente earum excepturi provident dolorum nostrum aperiam ipsum, dolore modi maiores impedit tenetur suscipit? Mollitia quod exercitationem, alias dolores incidunt nam? Dolorem odio sint provident voluptatum quo architecto? Totam, incidunt vitae. Libero, nulla recusandae aut repellendus cum facilis?</p>
      <p>Blanditiis fugiat dicta repellat nihil quis aliquid placeat in. Ipsum laborum nihil dolore, adipisci quas dicta. Culpa deserunt ab sunt praesentium. Explicabo quos ad eum accusamus incidunt magnam recusandae alias vitae, eveniet commodi excepturi consequatur sit culpa a cumque molestias. Ex repellat vero, suscipit perspiciatis porro qui unde quam debitis.</p>
      <p>Ipsa voluptate voluptas suscipit corporis. Quaerat labore cupiditate ut, numquam mollitia quas neque vel debitis. Autem blanditiis eos omnis, quae eveniet est optio pariatur, sapiente, ratione architecto illo expedita accusamus. Non nisi pariatur, repudiandae, neque aut assumenda excepturi eos maxime rerum magni quibusdam, alias amet reprehenderit maiores ducimus libero quia!</p>
    </div>

<%- include("partials/footer") %>
