@import 'variables.css';

header nav {
    background: var(--header-color);
    position: sticky;
    margin-top: 50px;
    z-index: 10;
    padding: 1rem;
    text-align: center;
    width: 100vw;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav a {
    text-decoration: none;
    margin: 0 40px;
    font-size: 1.2rem;
    color: var(--font-color);
}

header nav a:hover {
    color: var(--bg-color);
}


