@import 'variables.css';

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: 'Sofia Sans', sans-serif; */
    /* background-color: #f5cac3; */
    background-color: var(--bg-color);
    /* color: #495057; */
    /* color: #edede9; */
    color: var(--font-color);
    margin: 0;
    height: 100vh;    
}

section {
    width: 100vw;
    height: 100vh;
    /* text-align: center; */
}

section h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.8rem;
}

.container {
    /* max-width: 600px; */
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



footer {
    margin: 20px 0 0;
}