@import 'variables.css';

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: 0;
    height: 100vh;    
}

section {
    width: 100vw;
    height: 100vh;
}

section h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.8rem;
}

.container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: 0;
}

footer {
    margin: 20px 0 0;
}