@import 'variables.css';

.memoList-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tilesWrap {
  padding: 0;
  margin: 50px auto;
  list-style: none;
  text-align: center;
  width: 80%;
}
.tilesWrap li {
  display: inline-block;
  width: 20%;
  min-width: 200px;
  max-width: 230px;
  padding: 80px 20px 40px;
  position: relative;
  vertical-align: top;
  margin: 20px;
  height: 200px;
  background: #262a2b;
  border: 1px solid #252727;
  text-align: left;
  margin: 30px 20px;
}
.tilesWrap li h2 {
  font-size: 2.5rem;
  margin: 0;
  position: absolute;
  opacity: 0.2;
  top: 50px;
  right: 10px;
  transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
  font-size: 1.2rem;
  color: #b7b7b7;
  color: var(--font-color);
  margin: 30px 0 20px 0;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis; 
}
.tilesWrap li p {
  font-size: 1.1rem;
  line-height: 18px;
  color: var(--font-color);
  margin-top: 5px;
    overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis; 
}
.tilesWrap li button {
  background: transparent;
  border: 1px solid var(--font-color);
  padding: 10px 20px;
  color: var(--font-color);
  border-radius: 3px;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: translateY(-40px);
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  margin: 5px 0;
  font-size: 1rem;
}
.tilesWrap li button:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 120%;
  background: var(--font-color);
  color: var(--point-color);
  font-size: 1rem;
  top: 0;
  opacity: 0;
  left: -140px;
  border-radius: 0 20px 20px 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  
}
.tilesWrap li:hover button {
  transform: translateY(5px);
  opacity: 1;
}
.tilesWrap li button:hover {
  color: #262a2b;
}
.tilesWrap li button:hover:before {
  left: 0;
  opacity: 1;
}
.tilesWrap li:hover h2 {
  top: 0px;
  opacity: 0.6;
}

.tilesWrap li:before {
  content: '';
  position: absolute;
  top: -9px;
  left: -9px;
  right: -9px;
  bottom: -9px;
  z-index: -1;
  background: #fff;
  transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
  content: '';
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.02);
  z-index: -1;
}

.tilesWrap li:nth-child(1):before,
.tilesWrap li:nth-child(5n):before {
  background: #ff8c94;
  background: -webkit-linear-gradient(to right, #ff4757, #ff8c94);
  background: linear-gradient(to right, #ff4757, #ff8c94);
}
.tilesWrap li:nth-child(2):before,
.tilesWrap li:nth-child(5n + 1):before {
  background: #ffd699;
  background: -webkit-linear-gradient(to right, #ffb366, #ffd699);
  background: linear-gradient(to right, #ffb366, #ffd699);
}
.tilesWrap li:nth-child(3):before,
.tilesWrap li:nth-child(5n + 2):before {
  background: #7ed6df;
  background: -webkit-linear-gradient(to right, #4da6bb, #7ed6df);
  background: linear-gradient(to right, #4da6bb, #7ed6df);
}
.tilesWrap li:nth-child(4):before,
.tilesWrap li:nth-child(5n + 3):before {
  background: #ff7e5f;
  background: -webkit-linear-gradient(to right, #ff758c, #ff7e5f);
  background: linear-gradient(to right, #ff758c, #ff7e5f);
}
.tilesWrap li:nth-child(5):before,
.tilesWrap li:nth-child(5n + 4):before {
  background: #dcdcdc;
  background: -webkit-linear-gradient(to right, #cccccc, #dcdcdc);
  background: linear-gradient(to right, #cccccc, #dcdcdc);
} 



