body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f5cac3;
    color: #495057;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header nav {
    background: #f28482;
    padding: 10px;
    text-align: center;
    width: 100vw;
    margin-bottom: 100px;
}

header nav a {
    text-decoration: none;
    margin: 0 40px;
    font-size: 1.5rem;
    color: #f7ede2;
}

header nav a:hover {
    color: #f6bd60;
}

footer {
    margin: 20px 0 0;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
}

.form-container {
    background-color: #f7ede2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 300px;
    text-align: center;
}

.form-container h1 {
    color: #7f4f24;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container .input-container {
    margin-bottom: 15px;
    text-align: left
}

.form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #f7ede2;
    border-radius: 3px;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-container button {
    background-color: #84a59d;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s
}

.welcome-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error-message {
    color: #f28482
}

.success-message {
    color: #84a59d
}
